:root {
  --waikawa-gray-50: #f2f7fb;
  --waikawa-gray-100: #e7f0f8;
  --waikawa-gray-200: #d3e2f2;
  --waikawa-gray-300: #b9cfe8;
  --waikawa-gray-400: #9cb6dd;
  --waikawa-gray-500: #839dd1;
  --waikawa-gray-600: #6a7fc1;
  --waikawa-gray-700: #6374ae;
  --waikawa-gray-800: #4a5989;
  --waikawa-gray-900: #414e6e;
  --waikawa-gray-950: #262c40;
}

input {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #000;
}

form > div {
  margin-bottom: 0.5rem;
}

.full-screen {
  background: linear-gradient(
    var(--waikawa-gray-400) 0%,
    var(--waikawa-gray-100) 50%
  );
  color: var(--waikawa-gray-900);

  /* Is using flexbox the right thing to do here? Who knows! */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.full-screen h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

button {
  background-color: var(--waikawa-gray-500);
  color: white;
  border-radius: 0.5rem;
  border: 0;
  padding: 0.75rem 1.5rem;
}

button:hover {
  background-color: var(--waikawa-gray-600);
}

.two-column {
  display: flex;
  height: 100vh;
}

.two-column > * {
  overflow-y: scroll;
}

.two-column .sidebar {
  flex-basis: 25%;
  background-color: var(--waikawa-gray-300);
}

.two-column > main {
  padding-left: 1rem;
  flex-basis: 75%;
}

.sidebar h3 {
  padding: 1rem 0.75rem;
  margin: 0;
  color: var(--waikawa-gray-800);
  background-color: var(--waikawa-gray-500);
}

ul.nav {
  list-style-type: none;
}

ul.nav,
ul.nav li {
  margin: 0;
  padding: 0;
}

ul.nav a {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.25rem;
}

ul.nav a:hover {
  background-color: var(--waikawa-gray-400);
}
